build
.settings
.project
.classpath
.gradle
gwt-unitCache
classes
bin
gen
target
.DS_Store
/@packageName@.client.gwt/src/main/webapp/@name@
/@packageName@.client.gwt/src/main/webapp/WEB-INF/@name@
/@packageName@.client.gwt/src/main/webapp/WEB-INF/lib
/@packageName@.client.gwt/war
.idea
/**/*.iml
/**/gradle/
gradlew
gradlew.bat
local.properties
.apt_generated
